@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
font-family: 'Inter', sans-serif;
}

input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.clip-top-up-right {
    clip-path: polygon(0 48px, 100% 0, 100% 100%, 0% 100%);
}
.clip-top-down-right {
    clip-path: polygon(0 0, 100% 48px, 100% 100%, 0 100%);
}
.clip-bottom-down-right {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
}
.clip-right-up-right {
    clip-path: polygon(0 0, 70% 0, 50% 100%, 0% 100%);
}
.clip-left-up-right {
    clip-path: polygon(15% 0, 100% 0, 100% 99%, 0 100%);
}

* {
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}
